+++
title = "ZbxTable"
linkTitle = "ZbxTable"

+++

{{< blocks/cover title="欢迎来到ZbxTable!" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		文档<i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="zbxtable/647.html">
		下载<i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">ZbxTable 是使用 Go 语言开发的一个开源的 Zabbix 报表系统</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
ZbxTable 是使用 Go 语言开发的一个开源的 Zabbix 报表系统
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="自动" %}}
导出监控指标特定时间段内的详情数据与趋势数据到 xlsx
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="快速" %}}
导出特定时间段内 Zabbix 的告警消息到 xlsx
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="免配" %}}
对特定时间段研内的告警消息进行分析，告警 Top10 等
{{% /blocks/feature %}}

{{< /blocks/section >}}


{{< blocks/section >}}
<div class="mx-auto">
	<h1 class="text-center">已发布版本</h1>
	<div>
		<a class="lead mt-5" href="/zbxtable/647.html">ZbxTable 1.0.1</a>
	</div>
</div>

{{< /blocks/section >}}