+++
title = "ZbxTable"
linkTitle = "ZbxTable"

+++

{{< blocks/cover title="Welcome to ZbxTable!" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More<i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/canghai908/zbxtable">
		Download<i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">ZbxTable is an open source Zabbix reporting system</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
ZbxTable can seamlessly connect to the existing Zabbix system, adapt to all current Zabbix versions, export indicators, analyze alarm history alarm messages, and support GraphTree function.
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="Automatic" %}}
Seamlessly connect to existing Zabbix system
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Efficiently" %}}
Quickly export monitoring indicator history and detailed information
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Intelligent" %}}
Multi-latitude analysis of historical alarms
{{% /blocks/feature %}}

{{< /blocks/section >}}


{{< blocks/section >}}
<div class="mx-auto">
	<h1 class="text-center">Latest Version</h1>
	<div>
		<a class="lead mt-5" href="/2020/07/24/zbxtable-1.0.1/">ZbxTable 1.0.1</a>
	</div>
</div>

{{< /blocks/section >}}